:root {
    --primary-color: #26547c;
    --secondary-color: #fffcf9;
    --error-color: #ef476f;
    --warning-color: #ffd166;
    --success-color: #06d6a0;
  }

  body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }